@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
:root {
  --bg: #f3f0f0;
  --text: #111111;
  --primary-color: #e3833e;

  --neutral-900: hsl(227, 75%, 14%);
  --neutral-800: hsl(226, 25%, 17%);
  --neutral-700: hsl(225, 23%, 24%);
  --neutral-600: hsl(226, 11%, 37%);
  --neutral-300: hsl(0, 0%, 78%);
  --neutral-200: hsl(217, 61%, 90%);
  --neutral-100: hsl(0, 0%, 93%);
  --neutral-0: hsl(200, 60%, 99%);

  --red-400: hsl(3, 86%, 64%);
  --red-500: hsl(3, 71%, 56%);
  --red-700: hsl(3, 77%, 44%);

  --gradient: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
}

.dark {
  --neutral-0: hsl(226, 25%, 17%);
  --neutral-100: hsl(225, 23%, 24%);
  --neutral-200: hsl(226, 11%, 37%);
  --neutral-300: hsl(226, 11%, 37%);

  --neutral-600: hsl(0, 0%, 78%);
  --neutral-900: hsl(200, 60%, 99%);

  --red-700: hsl(3, 86%, 64%);

  --gradient: linear-gradient(180deg, #040918 0%, #091540 100%);
  --text: #ffffff;
  --primary-color: #e3833e;
}
*,
::after,
::before {
  font-family: "Noto Sans", sans-serif;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}
button,
fieldset,
input {
  outline-color: var(--accent-purple);
  cursor: pointer;
}
button,
a {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

a {
  text-decoration: none;
  color: inherit;
}
p {
  font-size: 1.1rem;
  line-height: 1.5;
}
li {
  list-style: none;
}
button:focus {
  outline: 1px solid var(--red-700);
}
button:hover {
  transform: translateY(-1px) scale(1.08);
}
.sr {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
